apiVersion: v1
kind: Secret
metadata:
  name: alexis-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "email": "",
      "password": "",
      "api_host": "api.taikun.dev"
    }
