apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "email": "raphael.nivault@itera.io",
      "password": "uzfgs_2001_RN"
      "api_host" "api.taikun.dev"
    }
