apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "email": "your_email",
      "password": "your_password",
      "api_host": "api.taikun.dev"
    }
